


<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h2><%= @tasks.title %></h2>
<p><%= @tasks.message %></p>
<p>Created at: <%= @tasks.created_at%></p>
<p>Updated at: <%= @tasks.updated_at%></p>
<p><%= link_to 'Go to the home page',tasks_path%></p>
